<div class="task-list-wrapper">
    <div class="task-list">
        <h3>Lista de Tarefas</h3>
        <p-table [value]="tasks" [tableStyle]="{ 'width': '90rem', 'min-width': '80rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Editar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        <i *ngIf="task.status" class="pi pi-check-circle" style="color: green;"> Concluída</i>
                        <i *ngIf="!task.status" class="pi pi-exclamation-circle" style="color: orangered;"> Pendente</i>
                    </td>
                    <!-- <td>
                        <i class="pi pi-pencil"></i>
                    </td> -->
                    <td>
                        <p-menu #menu [popup]="true" [model]="getMenuItems(task)" appendTo="body"></p-menu>
                        <p-button [icon]="'pi pi-ellipsis-v'" styleClass="p-button-text"
                            (click)="menu.toggle($event)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator [rows]="itemsPerPage" [totalRecords]="totalItems" [first]="(currentPage - 1) * itemsPerPage"
            (onPageChange)="onPageChange($event)">
        </p-paginator>

        <p-button (onClick)="showDialog()" label="Criar tarefa" />
    </div>
</div>

<p-dialog header="Criação de Tarefa" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary">Preencha os campos.</span>
    <div class="flex align-items-center gap-3 mb-3" style="margin-top: 20px;">
        <label for=" title" class="font-semibold w-6rem" style="margin-right: 10px;">Título:</label>
        <input pInputText id="title" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="description" class="font-semibold w-6rem" style="margin-right: 10px;">Descrição:</label>
        <input pInputText id="description" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (onClick)="visible = false" />
        <p-button label="Criar" (onClick)="visible = false" />
    </div>
</p-dialog>